@import url('https://fonts.cdnfonts.com/css/berlin-sans-fb-demi');
$main-color: rgb(145, 121, 222);
$error-color: rgb(214, 55, 81);
$id-border-color: rgb(147, 132, 172);
$id-background-color: rgb(239, 239, 239);
$button-color: white;
$background-color: #ccccff;
$background-input-color: #dfdfff;
$black-color: black;